chat-item {
    .placeholder {
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        background-color: rgb(242, 236, 215);
        color: blue;
    }
}
