page-sign {
    .sign {

        & .scroll-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .base {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__input {
            border: none;
            width: 70%;
            font-size: 7vw;
            padding: 5vw;
            text-align: center;
        }
        &__submit-btn {
            width: 50%;
        }
    }

    .social {
        text-align: center;
    }
}
